@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

a {
  @apply text-brand-600 transition-colors hover:text-brand-700;
}
